# ===========================================
# INFRASTRUCTURE SETTINGS
# ===========================================

# -------------------------------------------
# Database Settings (DB_)
# -------------------------------------------
DB_DRIVERNAME=postgresql+asyncpg
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=User
DB_PASSWORD=Password
DB_DATABASE=Database

# -------------------------------------------
# Uvicorn Server Settings (UVICORN_SERVER_)
# -------------------------------------------
UVICORN_SERVER_HOST=0.0.0.0
UVICORN_SERVER_PORT=8080

# -------------------------------------------
# Redis Settings (REDIS_)
# -------------------------------------------
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_POST_TTL=300
REDIS_HITS_TTL=300
REDIS_HITS_THRESHOLD=10

# ===========================================
# PRESENTATION SETTINGS
# ===========================================

# -------------------------------------------
# V1 API App Settings (V1_APP_)
# -------------------------------------------
V1_APP_TITLE=FastAPI
V1_APP_VERSION=0.1.0
V1_APP_DOCS_URL=/docs
V1_APP_REDOC_URL=/redoc

# -------------------------------------------
# V1 API CORS Settings (V1_CORS_)
# -------------------------------------------
V1_CORS_METHODS=*
V1_CORS_HEADERS=*
V1_CORS_ORIGINS=*
